<a href="https://colab.research.google.com/github/Supersplicer98/Sales-Predictions/blob/main/Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

      Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
filename = '/content/sales_predictions (3).csv'
df = pd.read_csv('/content/sales_predictions (3).csv')
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [5]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [7]:
df.loc[0:8522,:].dropna(how = 'any')

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
5              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[4650 rows x 12 columns]

In [8]:
df['Outlet_Size'].isna().head()

0    False
1    False
2    False
3     True
4    False
Name: Outlet_Size, dtype: bool

In [9]:
Outlet_Size_missing = df['Outlet_Size'].isna()
df.loc[Outlet_Size_missing,:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [10]:
df.loc[~Outlet_Size_missing,:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
5              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[6113 rows x 12 columns]

In [11]:
df.loc[0:8522, 'Outlet_Size']

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [12]:
df.loc[0:8522, 'Outlet_Size'].fillna(method='bfill')

0       Medium
1       Medium
2       Medium
3         High
4         High
         ...
8518      High
8519     Small
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [13]:
df.duplicated().any()

False

In [14]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [15]:
df['Item_Fat_Content'].str.lower()

df['Item_Fat_Content'].replace(to_replace='Reg', value='reg')

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 8523, dtype: object

In [18]:
#Item_Weight Max
def minimum(a, n):


	maxpos = a.index(max(a))


	print ("The maximum is at position", maxpos + 1)


a = [9.300, 5.920, 17.500, 8.930, 10.935, 20.750, 6.865, 10.600, 7.210, 14.800]
minimum(a, len(a))

The maximum is at position 6

In [19]:
print(min([9.300, 5.920, 17.500, 8.930, 10.935, 20.750, 6,865, 10.600, 7.210, 14.800]))
#Item_Weight Min

5.92

In [20]:
def minimum(a, n): #Item_Visualibility Max


	maxpos = a.index(max(a))


	print ("The maximum is at position", maxpos + 1)


a = [0.016047, 0.019378, 0.016760, 0.000000, 0.000000, 0.083607, 0.056783, 0.035186, 0.145221, 0.044878]
minimum(a, len(a))

The maximum is at position 9

In [21]:
print(min([0.016047, 0.019378, 0.016760, 0.000000, 0.000000, 0.083607, 0.056783, 0.035186, 0.145221, 0.044878]))
#Item_Visualibility Min

0.0

In [22]:
def minimum(a, n): #Item_Outlet_Sales Max


	maxpos = a.index(max(a))


	print ("The maximum is at position", maxpos + 1)


a = [3735.1380, 443.4228, 2097.2700, 994.7052, 556.6088, 3608.6360, 2778.3834, 1193.1136, 1845.5976, 765.6700]
minimum(a, len(a))

The maximum is at position 1

In [23]:
print(min([3735.1380, 443.4228, 2097.2700, 994.7052, 556.6088, 3608.6360, 2778.3834, 1193.1136, 1845.5976, 765.6700]))
#Item_Outlet_Sales Min

443.4228

In [27]:
def minimum(a, n): #Item_Outlet_Sales Max


	maxpos = a.index(max(a))


	print ("The maximum is at position", maxpos + 1)


a = [249.8092, 48.2692, 141.6180, 53.8614, 51.4008, 178.8318, 214.5218, 85.1224, 103.1332, 75.4670]
minimum(a, len(a))

The maximum is at position 1

In [28]:
print(min([249.8092, 48.2692, 141.6180, 53.8614, 51.4008, 178.8318, 214.5218, 85.1224, 103.1332, 75.4670]))#Item_Outlet_Sales Min

48.2692

In [24]:

import statistics #Item_Weight Mean


data1 = [9.300, 5.920, 17.500, 8.930, 10.935, 20.750, 6.865, 10.600, 7.210, 14.800]

x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 11.281

In [25]:
import statistics #Item_Visulibility Mean


data1 = [0.016047, 0.019378, 0.016760, 0.000000, 0.000000, 0.083607, 0.056783, 0.035186, 0.145221, 0.044878]

x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 0.041786

In [26]:
import statistics #Item_Outlet_Sales Mean


data1 = [3735.1380, 443.4228, 2097.2700, 994.7052, 556.6088, 3608.6360, 2778.3834, 1193.1136, 1845.5976, 765.6700]

x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 1801.85454

In [29]:
import statistics #Item_MRP Mean


data1 = [249.8092, 48.2692, 141.6180, 53.8614, 51.4008, 178.8318, 214.5218, 85.1224, 103.1332, 75.4670]

x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 120.20348